@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    background-color: #EFEFEF;
}

body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

input[type="text"],
select {
    height: 40px;
    font-size: 18px;
    padding: 0px 10px;
    border-radius: 8px;
    border: 1px solid #c2c2c2;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.035);

}
input[type="text"]::placeholder {
    color: #7c7c7cce;
    font-size: 16px;
    font-weight: 400;
}

select{
    color: #7c7c7cce;
    font-size: 16px;
    font-weight: 400;
}

